:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  --text-color: #202e5a;
  --bg-color: #fefefe;
  --primary-blue: #2a4a9d;
  --secondary-blue: #2c3d7c;
  /* --decor-blue: #5270ff; */
  --logo-grey: #d6d9e6;
  --accent-color: #50d293;

  /* --bg-main: #cfddeb;
  --color-blue: #2e4a63;
  --color-light-blue: #abb7c1;
  --color-beige: #f1e9dc;
  --color-light-beige: #fefdfc;
  --color-accent: #eb6d80;
  --text-color: #444;
  --font-header: "Comfortaa", sans-serif;
  --font-text: "Nunito", sans-serif;
  --font-accent: "Caveat", sans-serif; */
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100dvh;
  margin: 0;
  color: var(--text-color);
  background-color: var(--primary-blue);
}

a {
  display: block;
}

/*
main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
} */
