@media only screen and (min-width: 768px) {
  .section-text-holder {
    padding: 24px 24px 32px;
  }
  .section-header-holder {
    background-position-x: 55%;
  }
  .section-header {
    font-size: 28px;
    text-align: center;
    padding-left: 12px;
    margin: 0 auto;
  }

  /* -------HEADER------- */

  .nav-logo {
    width: 150px;
  }

  .menu-toggle {
    display: none;
  }

  .main-nav {
    position: static;
    top: 0;
    left: auto;
    width: auto;
    height: auto;
    transform: none;
    background-color: transparent;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .burger-logo {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .nav-dots {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    margin-top: 0;
  }

  /* --------HERO------- */

  .section-hero {
    scroll-margin-top: 16px;
  }

  .hero-container {
    padding: 0 48px;
  }
  .hero-text-holder {
    padding: 40px 10px 40px;
  }

  .hero-header {
    font-size: 36px;
    letter-spacing: 1.5px;
    line-height: 2;
    margin-bottom: 18px;
  }

  .hero-header-en {
    font-size: 16px;
    padding-right: 16px;
  }

  .code {
    font-size: 16px;
    padding-left: 16px;
  }

  .hero-slogan {
    font-size: 24px;
    margin-bottom: 16px;
  }

  /* ------ABOUT US------ */

  .section-about {
    scroll-margin-top: 16px;
  }

  .about-container .section-text-holder {
    padding-bottom: 16px;
  }

  .about-description {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding-top: 16px;
  }
  .about-img {
    display: block;
  }

  /* ------SERVICES------- */

  .section-services {
    scroll-margin-top: 16px;
  }

  .services-container p {
    margin-bottom: 16px;
  }

  .services-text {
    margin-bottom: 16px;
  }

  /* --------PROJECTS------- */

  .section-projects {
    scroll-margin-top: 16px;
  }

  .projects-list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 24px;
  }

  /* -----CONTACTS---- */

  .section-contacts {
    scroll-margin-top: 16px;
  }

  .contacts-container .section-header {
    margin-bottom: 28px;
  }

  .contacts-holder {
    font-size: 18px;
    gap: 12px;
  }

  .icon-map-pin,
  .icon-phone,
  .icon-mail {
    width: 18px;
    height: 18px;
  }

  .map {
    max-width: 600px;
    height: 450px;
  }

  /* --------FOOTER----- */

  .footer-container {
    padding: 10px 36px;
  }

  .footer-logo {
    max-width: 170px;
  }

  .footer-slogan {
    font-size: 18px;
  }

  .ribbon-icon {
    width: 60px;
    height: 70px;
  }

  .copyright-wrap {
    font-size: 12px;
  }

  .attribution {
    padding-right: 16px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1024px) {
  html {
    scroll-padding-top: 90px;
  }

  .section-header-holder {
    background-position-x: 50%;
  }

  .section-header {
    font-size: 32px;
    padding-right: 16px;
    padding-left: 0;
  }

  /* -------HEADER------- */
  .nav-logo {
    width: 170px;
  }

  .main-nav {
    font-size: 24px;
  }

  /* --------HERO------- */
  .section-hero {
    margin-top: 4px;
  }

  .hero-header {
    font-size: 52px;
    margin-bottom: 22px;
  }

  .hero-code-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 44px;
  }

  .hero-header-en {
    font-size: 24px;
    max-width: 500px;
    margin-bottom: 16px;
    padding-right: 0;
  }

  .code {
    font-size: 18px;
    align-self: flex-start;
    border-left: none;
    padding-left: 0;
    opacity: 0.8;
  }

  .dots {
    gap: 16px;
  }

  .dots span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--accent-color);
  }

  .hero-slogan {
    font-size: 24px;
  }

  .desktop-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-buildings {
    display: block;
    width: 250px;
    opacity: 0.8;
  }

  /* ------ABOUT US------ */

  .about-container {
    font-size: 18px;
  }

  .about-container h3 {
    font-size: 22px;
  }

  .accordion-container {
    padding-bottom: 24px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .accordion-container .ac .ac-trigger {
    font-size: 20px;
    font-weight: 500;
  }

  .ac .ac-panel .ac-text {
    font-size: 18px;
  }

  /* ------SERVICES------- */

  .services-container p {
    font-size: 18px;
  }

  .services-container h3 {
    font-size: 22px;
  }

  .services-list {
    font-size: 18px;
  }

  /* --------PROJECTS------- */

  .projects-item h3 {
    font-size: 22px;
  }

  .projects-item .project-descr {
    font-size: 18px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 22px;
  }

  .load-more-btn {
    font-size: 22px;
    padding: 8px 18px;
  }

  /* -----CONTACTS---- */

  .contacts-container .section-header {
    padding-left: 44px;
    margin-bottom: 36px;
  }

  .contacts-holder {
    font-size: 20px;
    gap: 16px;
  }

  .icon-map-pin,
  .icon-phone,
  .icon-mail {
    width: 20px;
    height: 20px;
  }

  /* --------FOOTER----- */

  .footer-container {
    padding: 16px 44px;
  }

  .footer-logo {
    width: 190px;
  }

  .footer-slogan {
    font-size: 20px;
  }

  .ribbon-icon {
    width: 70px;
    height: 80px;
  }
}
